EMSApplication/EMSApplication/__pycache__/
EMSApplication/EMSApplication/__pycache__/__init__.cpython-310.pyc
EMSApplication/EMSApplication/__pycache__/urls.cpython-310.pyc
EMSApplication/EMSApplication/__pycache__/wsgi.cpython-310.pyc
EMSApplication/EMSApplication/__pycache__/settings.cpython-310.pyc

*.pyc